<app-connections (selectedConnectionChange)="onSelectedConnectionChange($event)"></app-connections>
<mat-tree [dataSource]="dataSource" [treeControl]="treeControl">

  <!-- This is the tree node for queues -->
  <mat-tree-node [attr.data-node-name]="node.name" [ngClass]="{ 'selected-node': activeNode == node }"
    class="leaf-node queue-text drag-target" *matTreeNodeDef="let node" (drop)="onDrop($event, node)"
    (dragenter)="onDragEnter($event)" (dragleave)="onDragLeave($event)" (dragover)="onDragOver($event)"
    (click)="setCurrentQueue(node)">
    <button mat-icon-button disabled></button>
    {{node.name}} ({{node.children_count}})
  </mat-tree-node>

  <!-- This is the tree node for vhosts -->
  <mat-tree-node (click)="nodeToggled(node)" class="sidebar-text" *matTreeNodeDef="let node;when: hasChild"
    matTreeNodePadding matTreeNodeToggle>
    <button (click)="nodeToggled(node)" mat-icon-button matTreeNodeToggle [attr.aria-label]="'Toggle ' + node.name">
      <mat-icon class="mat-icon-rtl-mirror vhost-arrow">
        {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
      </mat-icon>
    </button>
    {{node.name}}
  </mat-tree-node>
</mat-tree>