<h2 mat-dialog-title class="black-white">Move Selected Messages</h2>

<div class="bottom-box">

  <mat-dialog-content>
    <p> Are you sure you want to perform this operation?</p>
    <b>This operation will alter the state of the selected queues.</b>
  </mat-dialog-content>

  <mat-dialog-actions class="button-box">
    <button mat-raised-button [mat-dialog-close]="true" cdkFocusInitial color="warn" type="button">Yes</button>
    <button mat-raised-button mat-dialog-close type="button" class="black-white">Cancel</button>
  </mat-dialog-actions>
</div>